<!DOCTYPE html>
<html>
    <head>
        <title>{{htitle}}</title>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
         <center>
        {{>header}}
       <h2>404 | Page Not Found</h2>
        {{>footer}}
        </center>
    </body>
</html>