<!DOCTYPE html>
<html>
    <head>
        <title>{{htitle}}</title>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        {{>header}}
        <h1>About : </h1>
        <h2>Name : {{name}} </h2>
        <img src="/img/img1.jpg" alt="No Image Found">
        {{>footer}}
    </body>
</html>