<!DOCTYPE html>
<html>
    <head>
        <title>{{htitle}}</title>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        {{>header}}
        <p>{{name}} Some help text</p>
        {{>footer}}

    </body>
</html>